{
 "vpc_id": "vpc-12345678",
 "subnet_id": "subnet-87654321",
 "ami_name_prefix": "myproject",
 "source_ami": {
   "filter_name": "ubuntu/images/*ubuntu-focal-*-amd64-server-*",
   "owners": ["099720109477"],
   "ssh_username": "ubuntu"
 },
 "instance_type": "t2.small",
 "region": "us-west-2",
 "provsioner_script": "myprovisioner.sh",
 "spot_price": "auto"
}
